/* pc design */
@media screen and (min-width: 900px){
    .c-form{
        width: 60%;
        max-width: 750px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .c-form--label{
        margin-bottom: 35px;
    }
    .c-form--label > label{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
    .c-form--label > input,
    .c-form--label > textarea{
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
    }
    .c-form--label > textarea{
        height: 200px;
    }
    .c-form--submit{
        display: block;
        margin: 0 auto;
        width: 95px;
        height: 40px;
        background: #A6BD66;
        border-radius: 4px;
        border: none;
        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
    .c-form--submit:hover{
        cursor: pointer;
    }
}

/* sp design */
@media screen and (max-width: 899px){
    .c-form{
        width: 85%;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .c-form--label{
        margin-bottom: 20px;
    }
    .c-form--label > label{
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
    .c-form--label > input,
    .c-form--label > textarea{
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
    }
    .c-form--label > textarea{
        height: 200px;
    }
    .c-form--submit{
        display: block;
        margin: 0 auto;
        width: 58px;
        height: 27px;
        background: #A6BD66;
        border-radius: 4px;
        border: none;
        color: white;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
    .c-form--submit:hover{
        cursor: pointer;
    }
}