/* pc design */
@media screen and (min-width: 900px){
    .p-main__company{
        background-image: url("../../../images/bunken_company_bg.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        width: 100%;
        height: 800px;
        z-index: -2;
        align-items: center;
        justify-content: center;
    }
    .p-main__company__inner{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .p-main__company::before{
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: ' ';
        z-index: -1;
    }
    .p-main__company__textMap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 70%;
        margin-top: 70px;
    }
    .p-main__company__textMap__texts{
        width: 100%;
    }
    .p-main__company__textMap__texts__inner{
        color: white;
        margin-bottom: 20px;
        display: flex;
    }
    .p-main__company__textMap__texts__inner:last-child{
        margin-bottom: 0px;
    }
    .p-main__company__textMap__texts__inner--text{
        width: 25%;
    }
    .p-main__company__textMap__texts__inner p:nth-child(2){
        width: 70%;
    }
    .p-main__company__textMap__map{
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 30%;
        min-height: 300px;
    }
    .p-main__company__textMap__map iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* sp design */
@media screen and (max-width: 899px){
    .p-main__company{
        background-image: url("../../../images/bunken_company_bg.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        width: 100%;
        height: auto;
        z-index: -2;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .p-main__company::before{
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: ' ';
        z-index: -1;
    }
    .p-main__company__inner{
        width: 100%;
    }
    .p-main__company__textMap{
        margin: 0 auto;
    }
    .p-main__company__textMap__texts{
        width: 70%;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        max-width: 400px;
    }
    .p-main__company__textMap__texts__inner{
        color: white;
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 13px;
        line-height: 200%;
        margin-bottom: 2%;
        width: 100%;
    }
    .p-main__company__textMap__texts__inner:last-child{
        margin-bottom: 0px;
    }
    .p-main__company__textMap__texts__inner .p-main__company__textMap__texts__inner--text{
        width: 30%;
    }
    .p-main__company__textMap__texts__inner p{
        width: 70%;
    }
    .p-main__company__textMap__map{
        position: relative;
        width: 80%;
        height: 0;
        padding-top: 40%;
        max-height: 300px;
        margin: 0 auto;
    }
    .p-main__company__textMap__map iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
