/* pc design */
@media screen and (min-width: 900px){
    .p-bottomMenu{
      display: none;
    }
}

/* sp design */
@media screen and (max-width: 899px){
    .p-bottomMenu {
      position: fixed;
      bottom: 0;
      display: flex;
      color: white;
      background-color: #A6BD66;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      width: 100%;
      height: 50px;
      z-index: 999;
    }
}