/* pc design */
@media screen and (min-width: 900px){
    .p-contact{
        background: rgba(233, 224, 142, 0.1);
        margin-top: 100px;
    }
    .p-contact__inner{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* sp design */
@media screen and (max-width: 899px){
    .p-contact{
        background: rgba(233, 224, 142, 0.1);
        margin-top: 50px;
    }
    .p-contact__inner{
        padding-top: 30px;
        padding-bottom: 35px;
    }
}
