/* pc design */
@media screen and (min-width: 900px){
    .p-footer{
        display: flex;
        align-items: center;
        height: 170px;
    }
    .p-footer__titleText{
        width: 50%;
        display: flex;
        justify-content: center;
        font-size: 16px;
    }
    .p-footer__titleText--title{
        font-size: 24px;
        font-weight: 400;
    }
    .p-footer__titleText--text{
        margin-top: 10px;
    }
    .p-footer--line{
        border-right: 1px solid white;
        height: 110px;
        width: 0px;
    }
    .p-footer__links{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .p-footer__link{
        display: inline-block;
        width: 64px;
        margin-right: 35px;
        margin-top: 10px;
    }
    .p-footer__link:nth-child(4){
        width: 96px;
        margin-right: 0px;
    }
    .p-footer__link:nth-child(-n+4){
        margin-top: 0px;
    }
    .p-footer__link:last-child{
        margin-right: 0px;
    }
    .p-footer__link:hover{
        opacity: 0.6;
    }
}

/* sp design */
@media screen and (max-width: 899px){
    .p-footer__titleText{
        height: 100px;
        display: flex;
        align-items: center;
    }
    .p-footer__titleText__inner{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
    .p-footer__titleText--title{
        font-size: 14px;
        width: 35%;
        font-weight: 400;
        display: flex;
        justify-content: center;
    }
    .p-footer__titleText--text{
        font-size: 10px;
        width: 65%;
        display: flex;
        justify-content: center;
    }
    .p-footer--line{
        display: none;
    }
    .p-footer__links{
        display: none;
    }
}
