/* pc design */
@media screen and (min-width: 900px){
    .p-recruit__inner{
        padding-top: 100px;
    }
    .p-recruit__texts{
        width: 60%;
        max-width: 740px;
        margin: 0 auto;
        margin-top: 65px;
        margin-bottom: 110px;
    }
    .p-recruit__text{
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        display: flex;
        width: 100%;
        margin-bottom: 15px;
    }
    .p-recruit__text dt{
        width: 20%;
    }
    .p-recruit__text dd{
        width: 80%;
    }
}

/* sp design */
@media screen and (max-width: 899px){
    .p-recruit__inner{
        padding-top: 30px;
        margin-bottom: 50px;
    }
    .p-recruit__texts{
        width: 85%;
        max-width: 476px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .p-recruit__text{
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        width: 100%;
        margin-bottom: 10px;
    }
}
