/* pc design */
@media screen and (min-width: 900px){
    /* section */
    .p-section__title{
        font-style: normal;
        color: white;
        width:fit-content;
        margin:0 auto;
    }
    .p-section__title--top{
        font-family: 'Hiragino Kaku Gothic Pro';
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        letter-spacing: 0.1em;
    }
    .p-section__title--top span{
        color: #A6BD66;
    }
    .p-section__title--sub{
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        display: flex;
	    align-items: center;
    }
    .p-section__title--sub:before,
    .p-section__title--sub:after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: white;
        margin:0 0.4em;
    }
    .p-works__inner > .p-section__title,
    .p-recruit__inner > .p-section__title,
    .p-contact__inner > .p-section__title{
        color: black;
    }
    .p-works__inner > .p-section__title > .p-section__title--sub:before,
    .p-works__inner > .p-section__title > .p-section__title--sub:after,
    .p-recruit__inner > .p-section__title > .p-section__title--sub:before,
    .p-recruit__inner > .p-section__title > .p-section__title--sub:after,
    .p-contact__inner > .p-section__title > .p-section__title--sub:before,
    .p-contact__inner > .p-section__title > .p-section__title--sub:after{
        background:  black;
    }
    a.anchor{
        display: block;
        padding-top: 500px;
        margin-top: -500px;
    }
}

/* sp design */
@media screen and (max-width: 899px){
    /* section */
    .p-section__title{
        font-style: normal;
        color: white;
        width:fit-content;
        margin:0 auto;
    }
    .p-section__title--top{
        font-family: 'Hiragino Kaku Gothic Pro';
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0.05em;
    }
    .p-section__title--top span{
        color: #ABD766;
    }
    .p-section__title--sub{
        font-family: 'Hiragino Sans';
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
    }
    .p-section__title--sub:before,
    .p-section__title--sub:after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: white;
        margin:0 0.4em;
    }
    .p-works__inner > .p-section__title,
    .p-recruit__inner > .p-section__title,
    .p-contact__inner > .p-section__title{
        color: black;
    }
    .p-works__inner > .p-section__title > .p-section__title--sub:before,
    .p-works__inner > .p-section__title > .p-section__title--sub:after,
    .p-recruit__inner > .p-section__title > .p-section__title--sub:before,
    .p-recruit__inner > .p-section__title > .p-section__title--sub:after,
    .p-contact__inner > .p-section__title > .p-section__title--sub:before,
    .p-contact__inner > .p-section__title > .p-section__title--sub:after{
        background:  black;
    }
}
